.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 32px;

  @media(min-width: 1440px) {
    flex-direction: column;
    padding-top: 0;
    width: 25%;
  }

  .logo {
    @media(min-width: 1440px) {
      order: 3;
    }
  }

  &__info {
    margin-left: 35px;

    @media(min-width: 1440px)  {
      margin-left: 32px;
    }
  }

  &__title {
    display: inline-block;
    position: relative;
    margin: 0;
    // margin-bottom: -4px; // для строгого пиксель пёрфекта
    font-size: 36px;
    line-height: 42px;

    &::after {
      content: "";
      position: absolute;
      top: 4px;
      right: -39px;
      background-image: url("../../../img/svg/smile.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;

      @media(min-width: 1440px) {
        top: 6px;
        right: -36px;
      }
    }
  }

  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 18px;

    span {
      display: none;

      @media(min-width: 1440px) {
        display: inline-block;
      }
    }
  }

  &__info--fact {
    display: none;

    @media(min-width: 1440px) {
      display: block;
      margin-top: 20px;
      margin-bottom: 46px;
    }

    .header__text {
      text-align: right;
    }
  }
}
