.button {
  display: flex;
  justify-content: center;

  @media(min-width: 1440px) {
    justify-content: flex-start;
  }

  &__btn {
    padding: 15px 10px 14px;
    width: 287px;
    height: 50px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $white;
    background-color: #f45544;
    border-radius: 100px;
    border: 0;
    outline: 0;
    z-index: 1;

    @media(min-width: 1440px) {
      width: 282px;
    }

    &:hover,
    &:focus {
        background-color: #e64230;
    }
  }
}
