@font-face {
    font-family: "Gerbera";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Gerbera/Gerbera-Light.woff2") format("woff2"),
      url("../fonts/Gerbera/Gerbera-Light.woff") format("woff");
  }
  
  @font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Gerbera/Gerbera-Medium.woff2") format("woff2"),
      url("../fonts/Gerbera/Gerbera-Medium.woff") format("woff");
  }